{% extends "__layout.html" %}

{% block content %}
<div class="histor">
    <p>Привет, дорогой гость. Спасибо что зашел на мой скромный сайт по истории автомобильных марок,таких как <a class="orange" href="/car_page_merc">Mercedes-Benz</a>,<a class="orange" href="/car_page_bmw">BMW</a>,<a class="orange" href="/car_page_audi">AUDI</a>! Меня зовут Нагирняк Андрей Андреевич, я студент группы ИСТБ-24-3. Мне нравится делать что-то интересное и позновательное. Буду рад если понравился сайт. Помимо разработки сайта увлекаюсь различными видами спорта. Также люблю смотреть фильмы различных жанров. Вообщем чиловый парень</p>
    <img src="/static/photo/l.webp" class="img-fluid" alt="it is my photo">
  </div>
{% endblock %}