{% extends "__layout.html" %}

{% block content %}
<div class="histor" style="text-align: center;">
    <p>Данный сайт посвящен истории некоторых немецких марок машин,их популярным авто и их характеристикам. Если у вас возникли вопросы напишите мне на почту fake@gmail.com</p>
</div>
<div class="tool">
    <div class="photo_tool">
        <img class="img-fluid" src="/static/photo/merc_main.png" alt="Mersedes-Benz"   >
    </div>
    <div class="info_tool">
        <h1>Mercedes-Benz</h1>
        <p>История <a class="orange" href="/car_page_glossary">марки</a> Mercedes-Benz слагается из историй двух известных немецких автомобильных компаний — Benz & Cie.
             (основана Карлом Бенцем в 1883 году) и Daimler-Motoren-Gesellschaft (основана Готлибом Даймлером в 1890 году).
              Обе компании развивались самостоятельно до 1926 года, когда они объединились в единый концерн Daimler-Benz,
               впоследствии переименованный в Daimler AG.</p>
        <a href="/car_page_merc"><button type="button">Подробнее</button></a>
        <a href="#1"><button type="button">Вернуться</button></a>
    </div>
</div>
<div class="tool">
    <div class="photo_tool">
        <img class="img-fluid" src="/static/photo/bmw_main.png" alt="BMW"  width="600px" >
    </div>
    <div class="info_tool">
        <h1>BMW</h1>
        <p>Компания ведёт свою историю с 1913 года,
             когда Карлом Фридрихом Раппом было создано предприятие по производству авиационных двигателей.
              Компания Bayerische Motoren Werke, созданная на основе предприятия,
               была официально зарегистрирована в 1917 году</p>
        <a href="/car_page_bmw"><button type="button">Подробнее</button></a>
        <a href="#1"><button type="button">Вернуться</button></a>
    </div>
</div>
<div class="tool">
    <div class="photo_tool">
        <img class="img-fluid" src="/static/photo/audi_main.png" alt="AUDI"  width="600px" >
    </div>
    <div class="info_tool">
        <h1>AUDI</h1>
        <p>Audi в нынешнем виде является наследником концерна Auto Union,
             образованного в результате объединения четырёх компаний,
              выпускавших автомобили и мотоциклы под марками DKW, Horch, Audi и Wanderer.
               Вследствие преобразований была оставлена лишь торговая марка Audi[3][5].
                Первый автомобиль марки Wanderer появился в 1913 году,
                 первое собственное предприятие (Horch & Co.) Август Хорьх организовал в 1899 году,
                  а после того, как кредиторы отстранили его от дел,
                   в 1909 году была организована компания Audi Automobil-Werke,
                    что переводится как «Автомобильный завод Ауди».</p>
        <a href="/car_page_audi"><button type="button">Подробнее</button></a>
        <a href="#1"><button type="button">Вернуться</button></a>
    </div>
</div>

{% endblock %}